# ==============================
# Python & Jupyter
# ==============================

__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# ==============================
# OS / System files
# ==============================

.DS_Store
Thumbs.db

# ==============================
# Virtual environments
# ==============================

venv/
env/

# ==============================
# RAW DATA (IGNORE COMPLETELY)
# ==============================

# Ignore all imaging dataset
01_Data_Raw/Images_Dataset/

# Ignore all tabular raw dataset files
01_Data_Raw/Tabular_Dataset/*

# ==============================
# Model files
# ==============================

*.h5
*.pt
*.pth
*.ckpt

# ==============================
# Large archives
# ==============================

*.zip
*.tar
*.gz